


.login
{
color: green;
    
}

.username{
    
    border: 2px solid black;
    margin: 10px;
    
}

.password{
    
    border: 2px solid black;
    margin-left: 13px;
    
}

.submit
{
    margin-top: 25px;
    margin-left:140px;      
}

